@page "/tsp"
@inject HttpClient Http

<h1>TspSolver!</h1>


@if (specs == null)
{
    <p>Loading...</p>
}
else
{
    <form>
        <label>
            TSP specificatzion:
            <select class="form-control" @onchange="TSPSpecSelected">
                @foreach (var spec in specs)
                {
                    <option>@spec.Name</option>
                }
            </select>
        </label>
    </form>
    <BECanvas @ref="scene" Width="500" Height="500"></BECanvas>
}



@code {
    TspSpec[] specs;
    TspSpec selectedTSPSpec;

    protected override async Task OnInitializedAsync()
    {
        var serverSpecs = await Http.GetJsonAsync<SerializableTspSpec[]>("tsp-data/tspspecs.json");
        Console.WriteLine($"{string.Join(Environment.NewLine, (IEnumerable<SerializableTspSpec>)serverSpecs)}");
        specs = serverSpecs
            .Select(SerializableTspSpec.ToDomain)
            .OrderBy(spec => spec.Cities.Count)
            .ToArray();
        selectedTSPSpec = specs.FirstOrDefault();
    }

    public class SerializableTspSpec
    {
        public string Name { get; set; }

        public List<int> OptimalTour { get; set; }

        public List<SerializableLocation> Cities { get; set; }

        public static TspSpec ToDomain(SerializableTspSpec specs)
        {
            return new TspSpec(
                specs.Name,
                specs.OptimalTour,
                specs.Cities.Select(SerializableLocation.ToDomain).ToList());
        }

        public override string ToString()
        {
            var coordinates = string.Join(", ", (IEnumerable<SerializableLocation>)Cities);
            return $"{Name} ({Cities.Count} cities): ({coordinates})";

        }

    }

    public class SerializableLocation
    {
        public double X { get; set; }
        public double Y { get; set; }

        public static Location ToDomain(SerializableLocation location)
        {
            return new Location(location.X, location.Y);
        }

        public override string ToString()
        {
            return string.Format("City: X=" + X + ", Y=" + Y);
        }
    }

    private void TSPSpecSelected(ChangeEventArgs e)
    {
        var specName = (string)e.Value;
        Console.WriteLine($"Selected spec: " + specName);
        selectedTSPSpec = specs.Single(spec => spec.Name == specName);
    }

    BECanvasComponent scene;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (scene == null)
        {
            return;
        }

        var context = await scene.CreateCanvas2DAsync();
        await context.ClearRectAsync(0,0,scene.Width,scene.Height);

        if(selectedTSPSpec == null)
        {
            return;
        }


        var minX = selectedTSPSpec.Cities
            .Select(location => location.X)     // übersichtlichere Variante
            .Min();

        var maxX = selectedTSPSpec.Cities
            .Max(location => location.X);       // kurze schreibweiße

        var minY = selectedTSPSpec.Cities
            .Select(location => location.Y)
            .Min();

        var maxY = selectedTSPSpec.Cities
            .Max(location => location.Y);

        Location GetSceneCoordinates(Location city)
        {
            const int padding = 10;
            var xRatio = (scene.Width - 2*padding) / (maxX - minX);
            var yRatio = (scene.Height - 2*padding) / (maxY - minY);
            var x = (city.X-minX) * xRatio + padding;
            var y = (city.Y-minY) * yRatio + padding;
            return new Location(x, y);
        }

        foreach (var city in selectedTSPSpec.Cities.Select(GetSceneCoordinates))
        {
            await context.BeginPathAsync();
            await context.ArcAsync(city.X, city.Y, 5, 0, 2 * Math.PI,false);
            await context.FillAsync();
        }

    }


}